<div class="container center">
    <div class="container">
      <h2>Sign up</h2>
    </div>
<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal center'}) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  
    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>

<%= render "devise/shared/links" %>
</div>
