<div class="container">
    <div class="container">
        <h1>Update User</h1>
    </div>
    <div class="container">
    <%= form_for :user, url: user_path(@user), html: {class: 'form-horizontal center'}, method: :patch do |f| %>
        
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@user.errors.count, "error") %> prohibited
                this user from being saved:
              </h2>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
         <% end %>
         
        <div class="form-group">
            <%= f.label :name, class: "col-md-2 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :name, class: "form-control" %>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :email, class: "col-md-2 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :email, class: "form-control" %>
            </div>
        </div>
    
        <div class="form-group">
            <%= f.label :admin, class: "col-md-2 control-label" %>
            <div class="col-md-8">
                <%= f.check_box :admin, class: "form-control" %>
            </div>
        </div>
        
        <%= f.submit class: "btn btn-primary" %>
       
        <% end %>
    
    <%= link_to 'Back', users_path %>