<div class="container">
    <div class="container">
        <h1>Update User</h1>
    </div>
    <div class="container">    
        <table class="table-condensed table-hover table-responsive">
      <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Admin Role</th>
      </tr>
     
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.admin? ? "yes" : "no" %></td>
              <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-success", role: "button" %></td>
              <td><%= link_to 'Destroy', user_path(user), class: "btn btn-danger", role: "button",
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </table>
        </div>
</div>