<p>
    <strong>Name:</strong>
    <%= @user.name %>
</p>

<p>
    <strong>Email Address:</strong>
    <%= @user.email %>
</p>

<p>
    <strong>Admin Role:</strong>
    <%= @user.admin %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>