<div class="container">
    <div class="container">
        <h1>All Leads </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%= link_to 'New Lead', new_lead_path, class: "btn btn-primary", role: "button" %>
            </div>
            <div class="col-md-6">
                <%= form_tag('/search') do %>
                      <%= label_tag(:search_name, "Search Names:") %>
                      <%= text_field_tag 'search' %>
                      <%= submit_tag('Search') %>
                <% end %>
            </div>
         </div>
    </div>
<div class="container">    
    <table class="table-condensed table-hover table-responsive">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Contacted?</th>
        <th colspan="2" style="text-align: right;">Filter by: <%= link_to 'Contacted', "/leads?contacted=true", class: "btn btn-warning btn-sm", role: "button" %></th>
        <th colspan="2"><%= link_to 'Uncontacted', "/leads?uncontacted=true", class: "btn btn-warning btn-sm", role: "button" %></th>
        
      <% @leads.each do |lead| %>
        <tr>
          <td><%= lead.first_name %></td>
          <td><%= lead.last_name %></td>
          <td><%= lead.phone %></td>
          <td><%= lead.email %></td>
          <td><%= lead.contacted? ? "yes" : "no" %></td>
           <td><%= link_to 'Set Contacted', edit_lead_path(lead), class: "btn btn-primary", role: "button", method: :patch %></td>
          <td><%= link_to 'Show', lead_path(lead), class: "btn btn-info", role: "button" %></td>
          <td><%= link_to 'Edit', edit_lead_path(lead), class: "btn btn-success", role: "button" %></td>
          <td><%= link_to 'Destroy', lead_path(lead), class: "btn btn-danger", role: "button",
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
</div>
<%= link_to 'Home', leads_path %>
<%= paginate @leads %>
</div>