<div class="container">
    <div class="container">
        <h1>New Lead</h1>
    </div>
    <div class="container">
        <%= form_for :lead, url: leads_path, html: {class: 'form-horizontal center'} do |f| %>
        
            <% if @lead.errors.any? %>
                <div id="error_explanation">
                  <h2>
                    <%= pluralize(@lead.errors.count, "error") %> prohibited
                    this lead from being saved:
                  </h2>
                  <ul>
                    <% @lead.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
             <% end %>
          
            <div class="form-group">
                <%= f.label :first_name, class: "col-md-2 control-label" %>
                <div class="col-md-8">
                    <%= f.text_field :first_name, class: "form-control" %>
                </div>
            </div>
            
            <div class="form-group">
                <%= f.label :last_name, class: "col-md-2 control-label" %>
                <div class="col-md-8">
                    <%= f.text_field :last_name, class: "form-control" %>
                </div>
            </div>
            
            <div class="form-group">
                <%= f.label :phone, class: "col-md-2 control-label" %>
                <div class="col-md-8">
                    <%= f.text_field :phone, class: "form-control" %>
                </div>
            </div>
            
            <div class="form-group">
                <%= f.label :email, class: "col-md-2 control-label" %>
                <div class="col-md-8">
                    <%= f.text_field :email, class: "form-control" %>
                </div>
            </div>
            
        <%= f.submit class: "btn btn-primary " %>
              
        <% end %>
    </div>
<%= link_to 'Back', leads_path %>