<div class="container">
    <div class="container">
        <h1>Lead Info</h1>
    </div>
    <div class="container">
        <p>
            <strong>First Name:</strong>
            <%= @lead.first_name %>
        </p>
        
        <p>
            <strong>Last Name:</strong>
            <%= @lead.last_name %>
        </p>
        
        <p>
            <strong>Phone Number:</strong>
            <%= @lead.phone %>
        </p>
        
        <p>
            <strong>Email Address:</strong>
            <%= @lead.email %>
        </p>
        
        <p>
            <strong>Contacted:</strong>
            <%= @lead.contacted? ? "yes" : "no" %>
        </p>
    </div>

    <%= link_to 'Edit', edit_lead_path(@lead) %>
    <%= link_to 'Back', leads_path %>
</div>