<div class="container center">
    <div class="container">
      <h2>Log in</h2>
    </div>
<div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal center'}) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>

<%= render "devise/shared/links" %>
</div>