<!DOCTYPE html>
<html>
<head>
  <title>Sales Leads App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div style="text-align: right;">
    <li>
      <%= link_to('Sales Leads', leads_path) %>
    </li>
    <li>
      <%= link_to('Users', users_path) %>
    </li>
    
  <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
    </li>
  <% else %>
    <li>
      <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>
  </div>
</div>

<%= yield %>

</body>
</html>
